.allUsers__border > div {
    text-align: center;
    border: 1px dotted orangered;
    margin: 10px 350px;
    justify-content: center;
    align-items: center;
}
.title > p {
    gap: 50px;
    font-size: 24px;
    font-weight: bold;
    color:rgb(240, 88, 32)
}
.input__allUsers {
    >input {
            width: 80%;
            height: 80px;
            margin: 10px;
            border-radius: 5px;
}

   >label {
     padding:10px 20px;
     
}

}
.img {
    width: 40px;
}
.ViewMap {
    display: flex;
    justify-content: space-around;
}
.ViewMap > span {
    cursor: pointer;
    margin-top: 40px;
}
.MainPage__wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.userContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(124, 172, 218);
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.user-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px dotted orangered;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.user-details p {
    margin: 0;
    padding: 2px 0;
}


.delete-icon {
    cursor: pointer;
    color: red;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 88, 32);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(200, 70, 25);
}


.material-symbols-outlined {
    cursor: pointer;
    margin-left: 10px;
}
