.App  {
  text-align: center;
}
.loginHeader__wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-left: 560px;
  padding-bottom: 20px;
  display: grid;
  row-gap: 20px;
}
.loginHeader__wrapper > button {
  background-color:rgb(134, 114, 219);
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
}
.loginHeader__wrapper > input {
  padding: 10px 10px;
  border-radius: 5px;
}
.App > p {
  padding-left: 40px;
  font-weight: 800;
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}